header {
    width: 100%;
    height: 50px;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.1);
    .header_inner {
        max-width: 1440px;
        margin: 0 auto;
        h1 {
            padding-left: 20px;
            overflow: hidden;
            float: left; // width: 165px;
            height: 100%;
            color: #ffffff;
            text-align: center;
            margin: 0;
            img {
                margin-top: 15px;
                width: 85px;
            }
        }
        nav {
            float: left;
            overflow: hidden;
            ul {
                overflow: hidden;
                list-style: none;
                li {
                    float: left;
                    padding-right: 50px;
                    a {
                        text-decoration: none;
                        font-size: 13px;
                        color: #333333;
                        font-weight: bold;
                    }
                }
            }
        }
        .top_menu {
            float: right;
            overflow: hidden;
            padding-right: 20px;
            li {
                float: left;
                list-style: none;
                &::before {
                    content: "|";
                    padding-right: 6px;
                    color: #cccccc;
                }
                &:first-child::before {
                    content: none;
                }
                .fa-globe-americas {
                    margin-right: 6px;
                    color: #333333;
                    font-size: 13px;
                }
                a {
                    text-decoration: none;
                    font-size: 12px;
                    padding-right: 6px;
                    color: #333333;
                    .fa-sort-down {
                        vertical-align: top;
                        padding: 2px 0px 0px 3px;
                    }
                }
            }
        }
    }
}

// header end
.index_visual {
    width: 100%;
    height: 770px;
    background: url(../static/images/visual.jpg) no-repeat;
    background-position: 50%;
    background-size: cover;
    .visual_wrap {
        width: 100%;
        height: 100%;
        margin: 0 auto;
        background: rgba(0, 0, 0, 0.3);
        .visual {
            max-width: 1440px;
            height: 100%;
            margin: 0 auto;
            position: relative;
            overflow: hidden;
            .visual_text {
                position: absolute;
                top: 270px;
                left: 150px;
                dl {
                    margin: 0;
                    color: #ffffff;
                    dt {
                        font-size: 45px;
                        font-weight: bold;
                        span {
                            display: block;
                            font-size: 20px;
                            font-weight: bold;
                        }
                    }
                    dd {
                        margin: 30px 0;
                        font-size: 15px;
                        line-height: 1.5em;
                    }
                }
                a {
                    color: #ffffff;
                    border: 1px solid #ffffff;
                    display: block;
                    width: 100px;
                    text-align: center;
                    padding: 12px 5px;
                    border-radius: 50px;
                    text-decoration: none;
                    font-size: 15px;
                }
            }
            .visual_img {
                position: absolute;
                right: 50px;
                img {
                    width: 700px;
                }
            }
        }
    }
}

// index_visual end
.index_service {
    width: 100%;
    height: 100%;
    padding: 30px 0;
    background: #750000;
    color: #ffffff;
    .service_wrap {
        max-width: 1440px;
        margin: 0 auto;
        .section_title {
            padding: 30px;
            color: #ffffff;
            text-align: center;
            h2 {
                margin: 0;
                font-size: 30px;
                font-weight: normal;
            }
            p {}
        }
        .service {
            overflow: hidden;
            text-align: center;
            padding: 0;
            li {
                width: 25%;
                list-style: none;
                float: left;
                dl {
                    dt {
                        margin-bottom: 30px;
                        font-weight: bold;
                        span {
                            margin-bottom: 30px;
                            display: block;
                            i {
                                font-size: 50px;
                            }
                        }
                    }
                    dd {
                        margin: 0;
                        line-height: 1.5em;
                    }
                }
                a {
                    margin: 0 auto;
                    color: #ffffff;
                    border: 1px solid #ffffff;
                    display: block;
                    width: 100px;
                    text-align: center;
                    padding: 12px 5px;
                    text-decoration: none;
                    font-size: 15px;
                }
            }
        }
    }
}

//index_service end
.index_program {
    .section_title {
        padding: 50px;
        color: #000000;
        text-align: center;
        h2 {
            margin: 0;
            font-size: 30px;
            font-weight: normal;
        }
        p {}
    }
}

footer {
    background: blanchedalmond;
}